<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> formulario Genero</title>
</head>
<body>
    <div class="w-full max-w-xs m-[30%] mt-[10%]">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/agregarGenero/">
          {% csrf_token %}
          <div class="mb-4">
            <label class="block ml-[35%] text-xl text-gray-700 text-sm font-bold mb-2" for="txtGenero">
              Genero
            </label>
            <input name="txtGenero" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Agrega el nuevo genero">
          </div>

          <div class="flex items-center justify-between">
            <button  class="bg-blue-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
               Guardar
            </button>
            
          </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
          &copy;2020 Acme Corp. All rights reserved.
        </p>
    </div>

    <h1>{{mensaje}}</h1>
</body>
</html> -->


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Formulario Género</title>
</head>
<body>
    <div class="w-full max-w-xs m-[30%] mt-[10%]">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/agregarGenero/">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block ml-[35%] text-xl text-gray-700 text-sm font-bold mb-2" for="txtGenero">
                    Género
                </label>
                <input name="txtGenero" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="txtGenero" type="text" placeholder="Agrega el nuevo género">
            </div>
    
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Guardar
                </button>
            </div>
        </form>
        {% if mensaje %}
            <p class="text-center text-green-500 text-sm">{{ mensaje }}</p>
        {% endif %}
    </div>
    <a href="{% url 'agregarPelicula' %}">Agregar una Pelicula</a>
    
</body>
</html>
