<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>INICIO DE SESION</h2>
    <form action="">
        <input type="text" placeholder="Ingrese su usuario">
        <input type="text" placeholder="Ingrese su contraseña">
        <button>Ingresar</button>
    </form>
    <a href="{% url 'agregarGenero' %}">Agregar un nuevo Genero</a>
    <a href="{% url 'agregarPelicula' %}">Agregar una nueva Pelicula</a>
        
    
</body>
</html>