<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tabla Peliculas</title>
</head>
<body>
    

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-[8%]  ">
    <h2>LISTADO DE PELICULAS DISPONIBLES</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-center  text-gray-700 uppercase dark:text-gray-400">
            <tr class="text-lg border border-black">
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Codigo
                </th>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Protagonista
                </th>
                <th scope="col" class="px-6 py-3">
                    Duracion
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Resumen
                </th>
                <th scope="col" class="px-6 py-3">
                    foto
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Genero
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for p in peliculas%}
                <tr class="border-b text-center text-base border-gray-200 dark:border-gray-700">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{p.codigo }}
                    </td>
                    <td class="px-6 py-4">
                        {{p.titulo }}

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                        {{p.protagonista }}

                    </td>
                    <td class="px-6 py-4">
                        {{p.duracion }}
                        
                    </td>
                    <td class="px-6 py-4 dark:bg-gray-800">
                        {{p.resumen }}

                    </td>
                    <td class="px-6 py-4">
                        
                        <img src="/media/{{p.foto }}" alt="" width="30" height="7">

                    </td>
                    <td class="px-6 py-4 dark:bg-gray-800">
                        {{p.genero.nombre }}

                    </td>

                    <td class="px-6 py-4 dark:bg-gray-800">
                        <button >EDITAR</button>
                        <button >ELIMINAR</button>

                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<a href="{% url 'agregarGenero' %}">Agregar un nuevo Genero</a>
<a href="{% url 'agregarPelicula' %}">Agregar una nueva Pelicula</a>

</body>
</html>